body {
  font-family: poppins;
  background-color: #674b5b;
}
header {
  height: 740px;

  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.185)),
    url("../images/brasov.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header button {
  padding: 15px 30px;
  margin-top: 40px;
  border: none;
  font-size: 16px;
  font-family: poppins;
  font-weight: 700;
  letter-spacing: 0.09cm;
}
/* end header */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  background-color: white;
  padding: 100px;
}

.grid-2-columns-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-2-columns-info h2 {
  color: rgb(202, 200, 200);
  font-size: 20px;
  font-family: poppins;
  font-weight: 700;
  letter-spacing: 0.09cm;
}
.grid-2-columns-info h3 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
  color: #272044;
  margin-top: 10px;
  margin-bottom: 10px;
}
.grid-2-columns-info p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  color: #272044;
  opacity: 0.7;
}
.image-content {
  width: 500px;
  border-radius: 10px;
  display: block;
}
/* /////////////media queries////////////// */
@media (max-width: 900px) {
  header {
    height: 400px;
  }
  header h1 {
    font-size: 20px;
  }
  header button {
    padding: 8px 15px;
    margin-top: 20px;
    font-size: 10px;
    font-family: poppins;
    font-weight: 500;
    letter-spacing: 0.05cm;
  }
  .grid {
    grid-template-columns: 1fr;
    padding: 50px;
  }
  .image-content {
    width: 160px;
    display: block;
  }
  .grid-2-columns-info h2 {
    font-size: 13px;
  }
  .grid-2-columns-info h3 {
    font-size: 25px;
  }
  .grid-2-columns-info p {
    font-size: 10px;
    line-height: 1.5;
  }
}
